h1 {
  color: blue;
  font-family: Arial;
  font-weight: bold;
}
p {
  color: green;
}
ul {
  color: red;
  font-size: 20px;
}
h3 {
  font-weight: bold;
}
#equitment {
  color: orangered;
}
.color-red {
  font-style: italic;
}
#list2 {
  color: brown;
}
